@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .drag-region {
    -webkit-app-region: drag;
  }
}

body {
  @apply bg-gray-700;
}

@layer components {
  .window-controls {
    @apply ml-auto flex justify-center text-center select-none cursor-pointer;
    -webkit-app-region: no-drag;
  }
  .window-control {
    @apply pt-1 pb-1 pl-3 pr-3 hover:bg-gray-600;
  }
  .z--1 {
    z-index: -1;
  }
}

::-webkit-scrollbar {
  @apply hidden;
}